<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-card>
                <div class="mt-5">
                    <button *ngIf="isLogin" (click)="openDialog()" mat-raised-button color="primary"
                      class="mat-button-toggle-group btn-outline-primary">Create Book Category
                      <mat-icon color="accent" matSuffix>add_circle_outline</mat-icon>
                    </button>
                  </div>
            </mat-card>
        </div>
    </div>
</div>
