.title-container{
    text-align: center;
}
.trending{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.3333333333333333;
}
.main-title {
    margin: 0;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1rem;
    color: #919EAB;
}


