<section>
    <div class="container py-5">
        <div class="title-container">
            <div>
                <h6 class="main-title">Book Store</h6>
            </div>
            <div>
                <h2 class="trending">Xu hướng</h2>
            </div>
        </div>
       
        <div class="row">
            <div *ngFor="let prod of products.slice(0, 4)" class="col-md-12 col-lg-3 mb-4 mb-lg-0">
                <a routerLink="/products/{{prod.id}}">
                    <img src="{{prod.imagesString}}" class="card-img-top" alt="{{prod.name}}" />
                </a>
            </div>
        </div>
    </div>
</section>