<div class="container p-5">
    <div class="row">
        <div class="col-12">
                <form #f="ngForm" (ngSubmit)="f.form.valid && createBookCategory()" novalidate>
                    <div>
                        <h3 mat-dialog-title>Thêm danh mục</h3>
                        <mat-form-field appearance="outline">
                            <mat-label>Tên danh mục</mat-label>
                            <input name="name" #name="ngModel" [(ngModel)]="form.name" matInput placeholder="Name"
                                required minlength="3" maxlength="88">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-error *ngIf="name.hasError('required')">The name is required!</mat-error>
                            <mat-error *ngIf="name.hasError('minlength')">The name must at least 3
                                characters</mat-error>
                        </mat-form-field>
                      <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea name="description" #description="ngModel" [(ngModel)]="form.description" matInput
                                placeholder="Description"></textarea>
                        </mat-form-field>
                      </div>
                    </div>

                    <app-upload-avatar (giveURLtoCreate)="onUpLoad($event)"></app-upload-avatar>
                    <div class="d-flex justify-content-between pt-3">
                        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Hoàn tất</button>
                        <button mat-raised-button color="primary" class="mat-button-toggle-group btn-outline-primary">Thêm
                            <mat-icon color="accent" matSuffix>add_circle_outline</mat-icon>
                        </button>
                    </div>
                  

                </form>

        </div>
    </div>
</div>