<section class="py-5 d-none d-md-block br-3" style="background-color: #f0f0f0;">
  <div class="container" style="background-color: white;">
    <div class="row">
      <div class="col-md-9 pt-5 mt-5">
        <div class="row">
          <div class="col-md-6">
            <div class="scroll-slide">
              <img class="w-100" [src]="currentProduct.imagesString" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="scroll-slide-content px-5">
              <div>
                <h6 class="prod-coming-up-name">{{currentProduct.name}}</h6>
              </div>
              <h6 class="prod-coming-up-release-day py-3">Ngày xuất bản: <strong>{{ currentProduct.releaseDate |
                  date:'dd/MM/yyyy' }}</strong></h6>
              <h6 class="prod-coming-up-quantity py-3">Số lượng: <strong>{{currentProduct.quantity}}</strong></h6>
              <div class="prod-coming-up-price d-flex py-3 text-center">
                <h6 class="price-product">
                  <strong>{{currentProduct.unitPrice | currency: "VND"}}</strong>
                </h6>
                <h6 class="after-discount mx-3">
                  <strong>{{currentProduct.unitPrice - (currentProduct.unitPrice * currentProduct.discount / 100) |
                    currency: "VND"}}</strong>
                </h6>
                <div class="discount mx-3">
                  -{{currentProduct.discount}}%
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="d-flex "> -->

        

        <!-- </div> -->
      </div>
      <div class="col-md-3">
        <div class="scroll-div wrapper" id="scrollDiv" (scroll)="onScroll($event)">
          <div class="content">
            <div *ngFor="let product of products" [attr.id]="'product-' + product.id">
              <!-- <h3>{{ product.name }}</h3> -->
              <img src="{{product.imagesString}}" class="card-img-top p-2" alt="{{product.name}}" />
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</section>