.btn-add {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.71429;
  font-size: 0.875rem;
  text-transform: none;
  font-family: __Fira_Sans_97fe54, __Fira_Sans_Fallback_97fe54, Helvetica, Arial, sans-serif;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 171, 85);
  box-shadow: none;
}

.btn-add:hover {
  background-color: rgb(33, 109, 71);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-margin {
  margin: 0 12px;
}

.text-decor-none {
  text-decoration: none;
  list-style: none;
  text-align: start;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

.filter-status {
  list-style-type: none;
  margin-top: 4px;
}

.prod-name {
  font-weight: 600;
    line-height: 1.57143;
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    width: 460px;
}

.prod-discount{
  height: 24px;
    min-width: 22px;
    line-height: 0;
    border-radius: 6px;
    cursor: default;
    align-items: center;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    padding: 0px 8px;
    color: rgb(27, 128, 106);
    font-size: 0.75rem;
    background-color: rgba(54, 179, 126, 0.16);
    font-weight: 700;
    margin: 0;
}
 
.prod-header{
  color: inherit;
}
.prod-img{
  width: 60px;
    height: 70px;
    object-fit: contain;
}