<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div *ngFor="let prod of products" class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                <div class="card mb-5">
                    <div class="d-flex justify-content-between p-3">
                        <p class="lead mb-0">Today's Combo Offer</p>
                        <div class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                            style="width: 35px; height: 35px;">
                            <p class="text-white mb-0 small">x4</p>
                        </div>
                    </div>
                    <a routerLink="/products/{{prod.id}}">
                        <img src="{{prod.imagesString}}" class="card-img-top" alt="Laptop" />
                    </a>
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <a routerLink="/products/{{prod.id}}">
                                <h3 class="text-primary">{{prod.name}}</h3>
                            </a>
                            <p class="small text-danger"><s>$00.00</s></p>
                        </div>

                        <div class="d-flex justify-content-between mb-3">
                            <h5 class="mb-0">HP Notebook</h5>
                            <h5 class="text-dark mb-0">{{prod.unitPrice | currency: "USD"}}</h5>
                        </div>

                        <div class="d-flex justify-content-between mb-2">
                            <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
                            <div class="ms-auto text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <button class="add-to-cart" (click)="addToCart(prod)">
                            <div class="pre-text">
                                <i class="fas fa-cart-plus"></i> Add to cart
                            </div>

                            <div class="pre-text done">
                                <div  class="post-text"><i class="fas fa-check"></i> ADDED</div>
                            </div>

                        </button>
                    </div>
                </div>
            </div>

            <!--If products empty then display a message-->
            <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                No products found.
            </div>
        </div>
        <div class="footer-pagination">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-9 pl-3">
                            <ngb-pagination 
                            [(page)]="pageNumber" 
                            [pageSize]="pageSize" 
                            [collectionSize]="totalElements"
                            [maxSize]="5"
                            [boundaryLinks]="true"
                            (pageChange)="listProduct()">

                            </ngb-pagination>
                        </div>
                        <div class="col-md-3">
                            <span>Page Size</span>
                            <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                                <option>3</option>
                                <option selected="true">10</option>
                                <option>15</option>
                                <option>20</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>