<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img class="logo" src="/assets/icons/bookshop.png" alt="image" alt="">
    </a>
    <button (click)="toggleNavbarCollapsing()" class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [class.collapse]="navbarCollapsed" class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" *ngIf="isAdmin" routerLink="/categories">Create Book Category</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Thể loại
          </a>
          <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div *ngFor="let bookCategory of listBooksCategories">
              <li>
                <a class="dropdown-item" routerLink="/products/categories/{{bookCategory.id}}"
                  routerLinkActive="active-link">{{bookCategory.name}}</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
            </div>
          </ul> -->
          <app-dropdown-menu 
            [listItems]="listBooksCategories"
            routerLinkPrefix="/products/categories">
          </app-dropdown-menu>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Tác giả
          </a>
          <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div *ngFor="let bookCategory of listBooksCategories">
              <li>
                <a class="dropdown-item" routerLink="/products/categories/{{bookCategory.id}}"
                  routerLinkActive="active-link">{{bookCategory.name}}</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
            </div>
          </ul> -->
          <app-dropdown-menu 
            [listItems]="listAuthors"
            routerLinkPrefix="/products/authors">
          </app-dropdown-menu>

        </li>
      </ul>

      <!-- Search Component -->
      <app-search></app-search>

      <app-cart-status></app-cart-status>

      <div *ngIf="!isLogin">
        <button mat-raised-button color="accent" routerLink="/login" class="m-3">
          Login
        </button>
        <button mat-raised-button color="accent" routerLink="/register">
          Register
        </button>
      </div>

      <div class="dropdown mx-5" *ngIf="isLogin">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-item" *ngIf="isLogin">
            <span class="text-info">{{name}}</span>
            <hr class="dropdown-divider" />
            <a routerLink="/change-avatar"><img class="user-avatar" src="{{avatar}}"></a>
            <hr class="dropdown-divider" />
            <button (click)="logOut()" mat-raised-button color="accent" routerLink="/login">
              Logout
              <mat-icon>logout</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>