.newest-prod{
    font-weight: 800;
    background: -webkit-linear-gradient(300deg, #00AB55 0%, #FFAB00 25%, #00AB55 50%, #FFAB00 75%, #00AB55 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    font-size: 3rem;
    text-align: center;
    line-height: 4rem;
    padding: 0;
    margin: 0;
    letter-spacing: 5px;
}