.info-title {
    margin: 0px;
    font-weight: 700;
    line-height: 1.55556;
    font-size: 1.0625rem;
}

.des {
    margin: 0px;
    line-height: 1.57143;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgb(99, 115, 129);
}

.payment-method {
    margin: 0px;
    font-weight: 600;
    line-height: 1.57143;
    font-size: 0.875rem;
}

.create-order {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.71429;
    text-transform: none;
    min-width: 64px;
    padding: 8px 22px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 171, 85);
    width: 100%;
    box-shadow: none;
    height: 48px;
    font-size: 15px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.create-order:hover {
    background-color: rgb(33, 109, 71);
}

.currency{
    margin: 0px;
    font-weight: 600;
    line-height: 1.57143;
    font-size: 0.875rem;
}
